.btn22 {
    border-radius: 2px;
    color: rgb(64, 64, 64);
    text-align: center;
    height: 25px;
    border: 1px solid #d9d9d9;
    vertical-align: middle;
    font-family: "Segoe UI";
    box-shadow: 0px 0px 1px #d9d9d9;
    background-color: #296BB4;
      position: relative;
      margin-right: 1rem;
  }
  
  .btn22 span {
      position: relative;
      z-index: 1;
      background-color:#296BB4;
      color:white;
      margin:1rem;
  }
  
  .btn22:after {
      content: "";
      width: 16px;
      height: 16px;
     background-image: -ms-linear-gradient( 135deg, pink 0%, pink 100%);
      display: block;
      position: absolute;
      top: 4.1px;
      right: -9px;
      background-color: #296BB4;
      border: 1px solid #d9d9d9;
      border-left: none;
      border-bottom: none;
      border-radius: 2px;
      transform: rotate(47deg) skew(5deg);
  }