@tailwind base;
@tailwind components;
@tailwind utilities;

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper,
.css-15b8vjn-MuiPaper-root-MuiDrawer-paper {
    background: #ffffff11 !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.css-iur3w5-MuiPaper-root-MuiDrawer-paper {
    background: #686868e5 !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}